@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #16161a;
    color: #fff;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.container {
    max-width: 960px;
    margin: 2rem auto;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .buttons .canvas-buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttons {
    background: #242323;
    padding: 2rem;
    border-radius: 10px;
}

.buttons #number {
    margin: 1rem
}

.buttons #color {
    padding: .3rem;
}

.btn {
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.btn:active {
    transform: scale(.9)
}

.canvas {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border: 10px solid #fff;
    border-radius: 10px;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(64, 1fr);
}